table {
    border-collapse: collapse;
    width: 300px;
  }

input {
		width : 50px;
		border: 1px;
		text-align: center;
		background-color: transparent;
}

th { 
	height: 30px;
  	background: #fff;
}

  td {
	height: 30px;
  	background: #fff;
}

button {
	float: left;
	background: #fff;
	border: 1px solid black ;
	border-radius: 3px;
}


th, td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

#main {
	border: 2px solid white; 
}

.inputX {
    width: 5%;
	height: 50%;
	border: 1px solid #000;
}

.inputY {
    border: 1px solid #000;
	width: 5%;
	height: 50%;
}